@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  background-image: url('https://thumbs.dreamstime.com/z/laughing-yellow-smiley-circle-button-expressing-social-emoji-vector-seamless-pattern-flat-illustration-eps-91722444.jpg');
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
  margin: 0;
  padding: 20px;
}

body::before {
content: '';
height: 100%;
width: 100%;
position: absolute;
z-index: -1;
background-color: rgba(0,0,0,0.3);
}

.container {
  background-color: rgb(243, 217, 222);
  border-radius: 10px;
  /* 20px/6px gives a blur effect to box shadows */
  box-shadow: 0 10px 20px rgba(236, 9, 9, 0.1), 0 6px 6px rgba(235, 11, 11, 0.1);
  padding: 2rem;
  text-align: center;
  max-width: 100%;
  width: 800px;
}

h3 {
  margin: 0;
  opacity: 0.5;
  text-transform: uppercase;
  letter-spacing: 2px;
  
}

.joke {
  font-size: 30px;
  letter-spacing: 1px;
  line-height: 40px;
  margin: 50px auto;
  max-width: 600px;
}

.btn {
  background-color: red;
  color: white;
  border: 0;
  border-radius: 10px;
  box-shadow: 0 10px 20px rgba(236, 9, 9, 0.1), 0 6px 6px rgba(235, 11, 11, 0.1);
  padding: 14px 40px;
  font-size: 16px;
  font-weight: bold;
  text-transform: uppercase;
  cursor: pointer;
}

.btn:active {
  transform: scale(0.98);
}

/* outline doesn't currently show when button is clicked, but the below code would have fixed that */
/* .btn:focus {
  outline: 0;
} */