@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
  box-sizing: border-box;
}

body {
  background: url('https://previews.123rf.com/images/skyclick/skyclick1610/skyclick161000039/66163146-ocean-waves-pattern-seamless-background-hand-drawn-asian-style.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  font-family: 'Roboto', sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0;
  overflow-x: hidden;
}

h1 {
  margin: 10px;
}

.box {
  background-color: black;
  color: rgb(241, 147, 147);
  margin: 1rem;
  padding: 1.5rem;
  border-radius: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 400px;
  height: 200px;
  box-shadow: 2px 4px 5px rgba(0, 0, 0, 0.3);
  transform: translateX(200%);
  transition: transform 0.4s ease-in
}

.box:nth-of-type(even) {
  transform: translateX(-400%)
}
/* set to -400 instead of -200 for wide screens */

.box.show {
  transform: translateX(0)
}

