@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400&display=swap');

* {
  box-sizing: border-box;
}

body {
  background: url('https://images.unsplash.com/photo-1458682625221-3a45f8a844c7?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1000&q=80') center center/cover;
  font-family: 'Poppins', sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
  margin: 0;
}

body::before {
  content: '';
  position: absolute;
  height: 100%;
  width: 100%;
  background: rgba(250,250,250, 0.4);
  z-index: -1;
}

.quiz-container {
  background-image: linear-gradient(315deg, #b8c6db 0%, #f5f7fa 100%);
  border-radius: 10px;
  box-shadow: 0 0 10px 2px rgba(100,100,100,0.1);
  width: 600px;
  overflow: hidden;
}

.quiz-header {
  padding: 4rem;
}

h2 {
  padding: 1rem;
  text-align: center;
  margin: 0;
}

ul {
  list-style-type: none;
  padding: 0;
}

ul li {
font-size: 1.2rem;
margin: 1rem 0;
}

ul li label {
  cursor: pointer;
}

button {
  background: #8ec79d;
  border: none;
  cursor: pointer;
  padding: 1.3rem;
  /* border-radius: 0 0 6px; */
  display: block;
  width: 100%;
  font-family: inherit;
  font-size: 16px;
  color: rgb(73, 6, 73);
}

button:hover {
  background: #76a582;
}

button:focus {
  outline: none;
  background: #5d8367;
  color: #fff;
}

